@import "../../sass/variables.scss";

.pagination {
  display: flex;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    border-radius: 10px;
    background-color: $blue;
    font-size: 16px;
    min-width: 32px;
    transition: background-color 0.5s;
    cursor: pointer;
    color: $white;

    &:hover {
      background-color: darken($blue, 5);
    }

    &--dots {
      background-color: transparent;
      border: none;
      color: $blue;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }

    &.selected {
      color: $green;
      font-weight: 600;
      pointer-events: none;
    }

    &.disabled {
      pointer-events: none;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
