$mobile-width: 320px;
$mobile-only: 767px;
$tablet-width: 768px;
$desktop-width: 1340px;
$red: #ff5a51;
$green: #3fb281;
$blue: #32495d;
$blue-2: #253a56;
//$gray: #e4e7ee;
$gray: #f3f3f3;
$white: #fff;
$font-Montserrat: 'Montserrat', sans-serif;
