@import "../../sass/variables.scss";

.header {
  position: relative;
  padding: 30px 0;
  margin-bottom: 35px;
  background-color: $white;
  color: $green;

  &::after {
    position: absolute;
    content: "";
    height: 9px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-image: url("../../../public/img/line.svg");
  }

  &__title {
    margin: 0;
    font-weight: 600;
    color: $green;
  }

  &__wrapper {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 70px;
      height: 50px;
      bottom: -28px;
      left: -9px;;
      background-image: url("../../../public/img/scissors.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}
