@import "../../sass/variables.scss";

.shortener-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px 20px;
  padding: 40px 30px;
  background-color: $blue;
  border-radius: 15px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 150px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__label {
    grid-column: 1/-1;
    font-size: 16px;
    color: $white;
    font-weight: 300;
  }

  &__input {
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    outline: none;
    box-shadow: 0 0 0 2px transparent;

    &.invalid {
      box-shadow: 0 0 0 2px $red;
    }
  }

  &__error {
    position: absolute;
    bottom: 20px;
    left: 30px;
    line-height: 1;
    font-size: 13px;
    color: $red;
  }

  &__button {
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: $green;
    color: $white;

    &[disabled] {
      cursor: not-allowed;
    }
  }
}
