.url-item {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-gap: 20px;
  align-items: center;

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-width: 30px;
    height: 30px;
    background-color: #6DA8DD;
    border-radius: 20px;
    border: 1px solid #C6C6C6;
    text-align: center;
  }
}